body{
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    padding: 20px;
    
}
.heading{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 10%;
}
.egusi{
    text-align: center;
    
}